{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}

{% block title %}
  ダメージ計算
{% endblock %}

{% block content %}
    <form method="post">
    <h1 class="h1">ダメージ計算</h1>
    <div class="container-fluid clearfix" name="player_pokemon">
        <div class="row">
            <div class="col-3 align-self-center" >
                <div class="row">
                    <div class="col-5">
                        <p class="text-center">自分の手持ち</p>
                    </div>
                    <div class="col-5">
                        <select class="custom-select" name="field">
                                        <option selected value="{{ pokemon.name }}" > {{ pokemon.name }} </option>
                                        <option value="{{ p1 }}">{{ p1 }}</option>
                                        <option value="{{ p2 }}">{{ p2 }}</option>
                                        <option value="{{ p3 }}">{{ p3 }}</option>
                                        <option value="{{ p4 }}">{{ p4 }}</option>
                                        <option value="{{ p5 }}">{{ p5 }}</option>
                                        <option value="{{ p6 }}">{{ p6 }}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="button_1"> 決定 </button>

                    </div>
                </div>

             </div>
            <div class="col-3 " >
                 <p class="text-center">状態</p>
             </div>
             <div class="col align-self-center" >
                 <p class="text-center">相手の手持ち</p>
             </div>
        </div>

        <div class="row " >
             {% include "pokemon_input.html" with pokemon=pokemon num=pokemon.name dimax=dimax.0 kata_index=attack_kata_index kata_name=attack_kata_name %}
             <div class="col" >

                     <div class="row">
                         <div class="col">
                             {% csrf_token %}
                             <select class="custom-select" name="ROLE">
                                 <option selected value={{ role }} > {{ role }} </option>
                                 <option value="攻撃(変更)">攻撃</option>
                                 <option value="防御(変更)">防御</option>
                             </select>
                         </div>

                     </div>
                     <div class="row">
                         <div class="col" >
                            <p class="text-center">天候</p>
                         </div>
                         <div class="col" >
                            <p class="text-center">フィールド</p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col">
                             <select class="custom-select" name="weather">
                                 <option selected value={{ condition.weather }} > {{ condition.wheather_japanese }} </option>
                                 <option value="なし">天候なし</option>
                                 <option value="sunnyday">にほんばれ</option>
                                 <option value="raindance">あまごい</option>
                                 <option value="sandstorm">すなあらし</option>
                                 <option value="hail">あられ</option>
                             </select>
                         </div>
                         <div class="col">
                             <select class="custom-select" name="terrain">＞
                                 <option selected value={{ condition.terrain }} > {{ condition.terrain_japanese }} </option>
                                 <option value="なし">フィールドなし</option>
                                 <option value="electricterrain">エレキフィールド</option>
                                 <option value="psychicterrain">サイコフィールド</option>
                                 <option value="grassyterrain">グラスフィールド</option>
                                 <option value="mistyterrain">ミストフィールド</option>
                             </select>
                         </div>
                     </div>
                     <div class="row">
                        <div class="col" >
                            <p class="text-center">リフレクター</p>
                         </div>
                         <div class="col" >
                            <p class="text-center">ひかりのかべ</p>
                         </div>
                         <div class="col" >
                            <p class="text-center">オーロラベール</p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col">
                             <select class="custom-select" name="reflect">
                                 <option selected value={{ condition.reflect }} > {{ condition.reflect }} </option>
                                 <option value = "True">True</option>
                                 <option value = "False">False</option>
                             </select>
                         </div>
                         <div class="col">
                             <select class="custom-select" name="light_screen">
                                 <option selected value={{ condition.light_screen }} > {{ condition.light_screen }} </option>
                                 <option value = "True">True</option>
                                 <option value = "False">False</option>
                             </select>
                         </div>
                         <div class="col">
                             <select class="custom-select" name="aurora_veil">
                                 <option selected value={{ condition.aurora_veil }} > {{ condition.aurora_veil }} </option>
                                 <option value = "True">True</option>
                                 <option value = "False">False</option>
                             </select>
                         </div>
                     </div>

             </div>

            {% include "opponent_pokemon_input.html" with pokemon=op1 num=op1.name damage=1d dimax=dimax.1 kata_name=kata_name.0 kata_index=kata_index.0 number="0" %}
            {% include "opponent_pokemon_input.html" with pokemon=op2 num=op2.name damage=2d dimax=dimax.2 kata_name=kata_name.1 kata_index=kata_index.1 number="1" %}
        </div>

        <div class="row" >
            <div class="col" >
                テスト2_1
            </div>
            <div class="col" >
                <div class="row">
                    {% include "image.html" with pokemon=p1 %}
                    {% include "image.html" with pokemon=p2 %}
                </div>
                <div class="row">
                    <div class="col">
                        <div>{{ p1.name }}</div>
                    </div>
                    <div class="col">
                        <div>{{ p2.name }}</div>
                    </div>
                </div>

            </div>
            {% include "opponent_pokemon_input.html" with pokemon=op3 num=op3.name damage=3d dimax=dimax.3 kata_name=kata_name.2 kata_index=kata_index.2 number="2" %}
            {% include "opponent_pokemon_input.html" with pokemon=op4 num=op4.name damage=4d dimax=dimax.4 kata_name=kata_name.3 kata_index=kata_index.3 number="3" %}
        </div>

         <div class="row" >
             <div class="col" >
                 <div class="row">
                    {% include "image.html" with pokemon=p3  %}
                    {% include "image.html" with pokemon=p4  %}
                </div>
                <div class="row">
                    <div class="col">
                        <div>{{ p3.name }}</div>
                    </div>
                    <div class="col">
                        <div>{{ p4.name }}</div>
                    </div>
                </div>
             </div>
             <div class="col" >
                 <div class="row">
                    {% include "image.html" with pokemon=p5 %}
                    {% include "image.html" with pokemon=p6 %}
                </div>
                <div class="row">
                    <div class="col">
                        <div>{{ p5.name }}</div>
                    </div>
                    <div class="col">
                        <div>{{ p6.name }}</div>
                    </div>
                </div>
             </div>
             {% include "opponent_pokemon_input.html" with pokemon=op5 num=op5.name damage=5d dimax=dimax.5 kata_name=kata_name.4 kata_index=kata_index.4 number="4" %}
             {% include "opponent_pokemon_input.html" with pokemon=op6 num=op6.name damage=6d dimax=dimax.6 kata_name=kata_name.5 kata_index=kata_index.5 number="5" %}
         </div>
    </div>
    </form>





{% endblock %}