{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
  <div class="col-3">
    <img src="{% static "images/pokemon/" %}{{ pokemon.name }}.png" alt={{ pokemon.name }} class="img-thumbnai mx-auto d-block">
  </div>
    <div class="col-3">
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width: {{ pokemon.hp_percent }}%" role="progressbar" aria-valuenow={{ pokemon.hp_percent }} aria-valuemin="0" aria-valuemax="100">
                {{ pokemon.hp_percent }}%
            </div>
        </div>
    </div>




