<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
<meta charset="utf-8">
<!-- Bootstrap4 -->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

<title>Pokemon Analazer</title>
</head>
 <body>
   <h1>Pokemon Analazer</h1>
   <script src="js/jquery-3.3.1.slim.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <form method="post">

   {% csrf_token %}
   <input type="text" name="hoge" value="">

   <input type="submit" name="button_1" value="スクショ起動">
   <input type="submit" name="button_2" value="キャプチャ読み込み">
       <input type="submit" name="button_3" value="対戦画面検出">
  </form>
 </body>

</html>
