{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

             <div class="col" >
                 <div class="row">
                     <div class="col" >
                         <div class="row">
                             <div class="col">
                                 <img src="{% static "images/pokemon/" %}{{ pokemon.name }}.png" alt={{ pokemon.name }} class="img-thumbnai mx-auto d-block">
                             </div>
                             <div class="col">
                                 <div class="row">
                                     <div class="col">
                                         <div class="progress mb-3">
                                            <div class="progress-bar bg-success" style="width: {{ pokemon.hp_percent }}%" role="progressbar" aria-valuenow={{ pokemon.hp_percent }} aria-valuemin="0" aria-valuemax="100">
                                                {{ pokemon.hp_percent }}%
                                            </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col">
                                         <select class="custom-select" name="kata_{{ num }}">
                                        <option selected value={{ kata_index }} > {{ kata_index }} </option>
                                        {% for i in kata_name %}
                                            <option value={{ i }}>{{ i }}</option>
                                        {% endfor %}
                                         </select>
                                     </div>
                                 </div>

                             </div>
                         </div>
                         <div class="row text-center">
                             <div class="col">
                                        <input type="text" class="form-control text-center" id="moves_1" name="{{ number }}" value={{ pokemon.name }}>
                             </div>
                             <div class="col">


                                     <div class="form-check">
                                     {% csrf_token %}
                                         {% if dimax %}
                                            <input  checked  class="form-check-input" type="checkbox" id="defence_dimax_{{ num }}" name="defence_dimax_{{ num }}" >
                                         {% else %}
                                             <input class="form-check-input" type="checkbox" id="defence_dimax_{{ num }}" name="defence_dimax_{{ num }}" >
                                         {% endif %}

                                         <label class="form-check-label" for="defence_dimax_{{ num }}">
                                            ダイマ
                                         </label>
                                     </div>

                             </div>
                         </div>
                         <div class="row">
                             <p>{{ damage.0 }}</p>
                         </div>
                         <div class="row">
                             <p>{{ damage.1 }}</p>
                         </div>
                         <div class="row">
                             <p>{{ damage.2 }}</p>
                         </div>
                         <div class="row">
                            <p>{{ damage.3 }}</p>
                         </div>
                     </div>
                    <div class="col" >

                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    努力値
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    B
                                </div>
                                <div class="col text-center">
                                    D
                                </div>
                                <div class="col text-center">
                                    H
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="defense_{{ num }}" placeholder={{ pokemon.defense }}>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="special_defense_{{ num }}" placeholder={{ pokemon.special_defense }}>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="hp_{{ num }}" placeholder={{ pokemon.hp }}>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    ランク
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <select class="custom-select" name="defense_boost_{{ num }}">
                                        <option selected value={{ pokemon.defense_boost }} > {{ pokemon.defense_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="custom-select" name="special_defense_boost_{{ num }}">
                                        <option selected value={{ pokemon.special_defense_boost }}> {{ pokemon.special_defense_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="custom-select" name="speed_boost_{{ num }}">
                                        <option selected value={{ pokemon.speed_boost }} > {{ pokemon.speed_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="text" class="form-control text-center" id="moves_1" name="ability_{{ num }}" placeholder={{ pokemon.ability }}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control text-center" id="moves_1" name="item_{{ num }}" placeholder={{ pokemon.item }}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control text-center" id="moves_1" name="base_stats_{{ num }}" placeholder={{ pokemon.base_stats }}>
                                    </div>
                                </div>
                            </div>

                    </div>
                 </div>
             </div>