{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

             <div class="col" >
                 <div class="row">
                     <div class="col" >
                         <div class="row">
                             <div class="col">
                                 <img src="{% static "images/pokemon/" %}{{ pokemon.name }}.png" alt={{ pokemon.name }} class="img-thumbnai mx-auto d-block">
                             </div>
                             <div class="col">
                                 <div class="row">
                                     <div class="col">
                                         <div class="progress mb-3">
                                            <div class="progress-bar bg-success" style="width: {{ pokemon.hp_percent }}%" role="progressbar" aria-valuenow={{ pokemon.hp_percent }} aria-valuemin="0" aria-valuemax="100">
                                                {{ pokemon.hp_percent }}%
                                            </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col">
                                         <select class="custom-select" name="attack_kata">
                                            <option selected value={{ kata_index }} > {{ kata_index }} </option>
                                            {% for i in kata_name %}
                                                <option value={{ i }}>{{ i }}</option>
                                            {% endfor %}
                                         </select>
                                     </div>
                                 </div>

                             </div>
                         </div>
                         <div class="row text-center">
                             <div class="col">
                                 <div>{{num}}</div>
                             </div>
                             <div class="col">
                                 <form class="form-group" method="post">
                                    {% csrf_token %}
                                     <div class="form-check">
                                         {% if dimax %}
                                            <input  checked  class="form-check-input" type="checkbox" id="dimax" name="attack_dimax_{{ num }}" >
                                         {% else %}
                                             <input class="form-check-input" type="checkbox" id="dimax" name="attack_dimax_{{ num }}" >
                                         {% endif %}

                                         <label class="form-check-label" for="dimax">
                                            ダイマ
                                         </label>
                                     </div>
                                 </form>
                             </div>
                         </div>
                         <div class="row">

                                 <div class="col text-center">
                                     <input type="text" class="form-control text-center" id="moves_1" name="attack_moves_1_{{ num }}" placeholder={{ pokemon.moves_1 }}>
                                 </div>
                         </div>
                         <div class="row">
                                 <div class="col text-center">
                                     <input type="text" class="form-control text-center" id="moves_1" name="attack_moves_2_{{ num }}" placeholder={{ pokemon.moves_2 }}>
                                 </div>
                         </div>
                         <div class="row">

                                 <div class="col text-center">
                                     <input type="text" class="form-control text-center" id="moves_1" name="attack_moves_3_{{ num }}" placeholder={{ pokemon.moves_3 }}>
                                 </div>
                         </div>
                         <div class="row">
                                 <div class="col text-center">
                                     <input type="text" class="form-control text-center" id="moves_1" name="attack_moves_4_{{ num }}" placeholder={{ pokemon.moves_4 }}>
                                 </div>

                         </div>
                     </div>
                    <div class="col" >

                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    努力値
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    A
                                </div>
                                <div class="col text-center">
                                    C
                                </div>
                                <div class="col text-center">
                                    S
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="attack_attack_{{ num }}" placeholder={{ pokemon.attack }}>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="attack_special_attack_{{ num }}" placeholder={{ pokemon.special_attack }}>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control text-center" id="moves_1" name="attack_speed_{{ num }}" placeholder={{ pokemon.speed }}>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col text-center">
                                    ランク
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <select class="custom-select" name="attack_attack_boost_{{ num }}">
                                        <option selected value={{ pokemon.attack_boost }} > {{ pokemon.attack_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="custom-select" name="attack_special_attack_boost_{{ num }}">
                                        <option selected value={{ pokemon.special_atack_boost }}> {{ pokemon.special_attack_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="custom-select" name="attack_speed_boost_{{ num }}">
                                        <option selected value={{ pokemon.speed_boost }} > {{ pokemon.speed_boost }} </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="text" class="form-control text-center" id="moves_1" name="attack_ability_{{ num }}" placeholder={{ pokemon.ability }}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control text-center" id="moves_1" name="attack_item_{{ num }}" placeholder={{ pokemon.item }}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control text-center" id="moves_1" name="attack_base_stats_{{ num }}" placeholder={{ pokemon.base_stats }}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {% csrf_token %}
                                        <input type="submit" name="button_2" value="値変更">
                                    </div>
                                    <div class="col">
                                        {% csrf_token %}
                                        <input type="submit" name="button_3" value="更新">
                                    </div>
                                </div>
                            </div>

                    </div>
                 </div>
             </div>