<!DOCTYPE html>
<<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>1:{{ a }}</p>
2:{{ b }}<br>
3:{{ c }}<br>
4:{{ d }}<br>
5:{{ e }}<br>
6:{{ f }}<br>
</body>
</html>