{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}

{% block title %}
  Pokemon Analazer
{% endblock %}

{% block content %}
    <h1 class="h1">Pokemon Analazer</h1>

    <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="button_1">スクショ起動</button>
    <button type="submit" class="btn btn-primary" name="button_2">キャプチャ読み込み</button>
    </form>
    <form action="{% url  'decide' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="button_3">対戦画面</button>
    </form>
{% endblock %}
